.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-facebook {
	font-size:(96.123/10)*1rem;
	width:(96.124/96.123)*1em;
}
.icon-how-i1 {
	font-size:(500/10)*1rem;
	width:(413.9/500)*1em;
}
.icon-how-i2 {
	font-size:(500/10)*1rem;
	width:(499.15/500)*1em;
}
.icon-how-i3 {
	font-size:(500/10)*1rem;
	width:(362.66/500)*1em;
}
.icon-how-i4 {
	font-size:(500/10)*1rem;
	width:(490.61/500)*1em;
}
.icon-how-i5 {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-how-i6 {
	font-size:(459.74/10)*1rem;
	width:(500/459.74)*1em;
}
.icon-info {
	font-size:(23.63/10)*1rem;
	width:(23.63/23.63)*1em;
}
.icon-instagram {
	font-size:(169.063/10)*1rem;
	width:(169.063/169.063)*1em;
}
.icon-mail {
	font-size:(483.3/10)*1rem;
	width:(483.3/483.3)*1em;
}
.icon-phone {
	font-size:(473.81/10)*1rem;
	width:(473.81/473.81)*1em;
}
.icon-res-i1 {
	font-size:(319.96/10)*1rem;
	width:(500/319.96)*1em;
}
.icon-res-i2 {
	font-size:(500/10)*1rem;
	width:(359.1/500)*1em;
}
.icon-res-i3 {
	font-size:(496/10)*1rem;
	width:(496/496)*1em;
}
.icon-res-i4 {
	font-size:(496/10)*1rem;
	width:(496/496)*1em;
}
.icon-res-i5 {
	font-size:(487/10)*1rem;
	width:(429.06/487)*1em;
}
.icon-viber {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
.icon-whatsapp {
	font-size:(30.667/10)*1rem;
	width:(30.667/30.667)*1em;
}
