
// start .s-numbers
.s-numbers {
	@include media-breakpoint-up(md){
		padding: rem(83) 0 rem(50);
	}

	.side-wrapper{
		max-width: rem(1485);
		&::before{
			@include media-breakpoint-up(md){
				z-index: 3;
				content: 'цифры о нашей компании';
				@include a-cent(y);
				left: rem(-155);
				transform-origin: center center;
				transform: rotate(-90deg);
				line-height: 1;
				color: #7f7f7f;
				text-transform: uppercase;
				letter-spacing: 0.53px;
				font-size: rem(23);
			}
		}
	}

	h2{
		margin: 0 auto;
		margin-bottom: rem(40);
		@include media-breakpoint-up(md){
			margin-bottom: rem(76);
		}
		max-width: rem(650);
		line-height: 1.03;
		letter-spacing: 1.6px;
		color: #2e2c33;
		text-align: center;
		font-family: $font-family-monospace;
	}

	&__row{
		@include roww(10);
		@include media-breakpoint-up(md){
			@include roww(20);
		}
	}

	&__col{
		@include media-breakpoint-down(lg){
			margin-bottom: rem(40);
		}
		@include media-breakpoint-down(sm){
			margin-bottom: rem(20);
		}
	}

	&__item{
		padding: rem(20) rem(30) rem(40);
		@include media-breakpoint-up(sm){
			padding: rem(42) rem(30) rem(70);
		}
		box-shadow: 0 3px 46px rgba(136, 136, 149, 0.09);
		background-color: #ffffff;
		border-radius: rem(20);
		text-align: center;
		position: relative;
		z-index: 2;
		height: 100%;
		&::after{
			z-index: -1;
			content: '';
			@include a-cent;
			width: calc(100% - 8px);
			height: calc(100% - 8px);
			border-radius: 10px;
			border: 1px dashed #e8e8e8;
		}
		&--top{
			@include media-breakpoint-up(xl){
				transform: translateY(rem(-35));
			}
		}
	}

	&__item-number{
		@include rfs(94);
		color: #7b7884;
		line-height: 1;
		letter-spacing: 3.36px;
		font-family: $font-family-monospace;
		margin-bottom: rem(18);
		&--dark{
			color: #d4c7b9;
		}
	}
	
	&__item-title{
		text-transform: uppercase;
		font-family: $font-family-monospace;
		color: #7b7884;
		font-size: 27px;
		line-height: 1.27;
		letter-spacing: 0.76px;
		margin-bottom: rem(30);
	}

	&__item-text{
		color: #2e2c33;
		font-size: rem(17);
		letter-spacing: 0.48px;
		line-height: 1.35;
	}

		
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-numbers