mixin s-grounds()
	// start s-grounds
	+b.SECTION.s-grounds.section#s-grounds&attributes(attributes)
		.container
			h2 Основания для получения ВНЖ
			+e.subtitle Везде есть свои правила и условия, выдача ВНЖ в Латвии – не исключение. Есть некоторые основания для кандидатов:
			+e.row.row
				.col-xl-3.col-lg-4.col-md-6
					ul
						li Иностранный гражданин хочет воссоединиться с родственниками или семьей.
						li Инвестиции в недвижимость.
						li Предпринимательство.
						li Работа в научно- исследовательских центрах.
				+e.col--left.col-xl-3.col-lg-4.col-md-6
					ul
						li Сотрудничество с правительством Латвии.
						li Учеба или практика.
						li Лечение в специализированной клинике.
						li Трудоустройство
						li Религиозная деятельность.
			+e.A.btn.btn.btn-primary(href='#') получить ВНЖ прямо сейчас
	// end s-grounds