mixin s-grounds()
	// start s-grounds
	+b.SECTION.s-grounds.section#s-grounds&attributes(attributes)
		.container
			h2 Основания для получения ВНЖ
			+e.subtitle Везде есть свои правила и условия, выдача ВНЖ в Латвии – не исключение. Есть некоторые основания для кандидатов:
			+e.row.row
				.col-xl-3.col-lg-4.col-md-6
					+e.UL.list
						+e.LI.list-item Иностранный гражданин хочет воссоединиться с родственниками или семьей.
						+e.LI.list-item Инвестиции в недвижимость.
						+e.LI.list-item Предпринимательство.
						+e.LI.list-item Работа в научно- исследовательских центрах.
				.col-xl-3.col-lg-4.col-md-6
					+e.UL.list
						+e.LI.list-item Сотрудничество с правительством Латвии.
						+e.LI.list-item Учеба или практика.
						+e.LI.list-item Лечение в специализированной клинике.
						+e.LI.list-item--right Трудоустройство
						+e.LI.list-item--right Религиозная деятельность.
			+e.A.btn.btn.btn-primary(href='#') получить ВНЖ прямо сейчас
	// end s-grounds