
// start .s-values-about
.s-values-about {
	@include media-breakpoint-up(md){
		padding: rem(2) 0 rem(60);
	}

	h2{
		text-align: center;
		@include rfs(58);
		line-height: 1.11;
		letter-spacing: rem(2.3);
		color: #2e2c33;
		font-family: $font-family-monospace;
		margin-bottom: rem(25);
	}

	&__subtitle{
		color: #2e2c33;
		font-size: rem(21);
		max-width: rem(576);
		margin: 0 auto rem(40);
		text-align: center;
		font-weight: 500;
		line-height: 1.33;
		letter-spacing: rem(0.53);
	}

	&__row-wrap{
		max-width: rem(1043);
	}
	
	&__row{
		@include roww(25);
		@include media-breakpoint-up(xl){
			@include roww(39);
		}
		@include media-breakpoint-down(md){
			justify-content: center;
		}
		align-items: flex-end;
		margin-bottom: rem(64);
	}

	&__img-col{
		@include media-breakpoint-down(md){
			margin-bottom: rem(25);
		}
		max-width: rem(534);
	}
	
	&__img-wrap{
		max-width: rem(453);
		border-radius: rem(10);
		overflow: hidden;
		@include block(453, 492);
		position: relative;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	h3{
		padding-left: rem(20);
		@include media-breakpoint-up(md){
			padding-left: rem(35);
		}
		color: #2e2c33;
		font-size: rem(22);
		font-weight: 500;
		line-height: 1.31;
		letter-spacing: rem(0.62);
		position: relative;
		margin-bottom: rem(20);
		&::before{
			content: '';
			width: rem(12);
			height: rem(12);
			border-radius: 50%;
			position: absolute;
			top: rem(7);
			left: 0;
			background-image: linear-gradient(-40deg, #d0d0d0 0%, #ffffff 100%);
			background-color: #e8e8e8;
		}
	}

	p{
		padding-left: rem(30);
		@include media-breakpoint-up(md){
			padding-left: rem(51);
		}
		color: #2e2c33;
		font-size: rem(19);
		line-height: 1.32;
		letter-spacing: rem(0.54);
		&:not(:last-child){
			margin-bottom: rem(30);
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
		
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-values-about