mixin s-values-about()
	// start s-values-about
	+b.SECTION.s-values-about.section#s-values-about&attributes(attributes)
		.container
			h2 Наши ценности
			+e.subtitle В соответствии с нашей миссией, мы придерживаемся корпоративных ценностей
			+e.row-wrap
				+e.row.row
					+e.img-col.col-lg
						+e.img-wrap
							img(src='img/@2x/values1.jpg' alt='#')
					.col-lg
							h3 Приоритет интересов клиента и понимание его бизнеса
							p Мы помогаем клиентам добиться их цели, предоставляя точные решения для их бизнеса.
							h3 Совершенство и инновации
							p Мы стремимся к совершенству в каждом участнике нашей команды и во всем, что мы делаем. Мы постоянно движемся вперед благодаря личностному развитию и инновациям.
							p Этика и уважение. Надежность, последовательность и честность – неотъемлемые черты нашего бизнеса. Мы уважительно обращаемся друг с другом и со всеми, с кем работаем.
				+e.row.row
					+e.img-col.col-lg.order-lg-last
						+e.img-wrap
							img(src='img/@2x/values2.jpg' alt='#')
					.col-lg
							h3 Идём в ногу со временем
							p Мы предоставляя множество интересных услуг для ИТ-компаний и тех, кто строит бизнес в сети интернет. Разрабатываем документы для веб-сайтов и договора в сфере маркетинга и лидогенерации.
							p Консультируем и подготавливаем необходимые документы для получения разрешения на эксплуатацию дронов (беспилотных летательных аппаратов) На территории Латвии.
							h3 Предоставляем актуальную и ценную информацию.
							p Мы активно следим за всеми изменениями в сфере законодательства, как на местном, так и на международном уровне. Это позволяет нашим клиентам всегда быть на шаг впереди.
	// end s-values-about