mixin s-anniversary()
	// start s-anniversary
	+b.SECTION.s-anniversary.section#s-anniversary&attributes(attributes)
		.container
			h2 В 2019 году наша компания отпраздновала юбилей
			+e.main-row.row
				+e.items-col.col-xl
					+e.items-row.row
						mixin anniv-i(t)
							+e.item-col.col-xl-4.col-lg.col-md-4.col-sm-6
								+e.item-wrapper
									+e.item
										+e.item-text=t
						+anniv-i('открытие Латвийских и иностранных компаний')
						+anniv-i('открытие банковских счетов в местных в иностранных банках ')
						+anniv-i('оформление ВНЖ в Латвии;')
						+anniv-i('получение лицензии ICO и Gambling;')
						+anniv-i('юридическое сопровождение компании.')
				+e.text-col.col-xl
					p В 2019 году наша компания отпраздновала свой первый юбилей. За это время, нам доверились как крупные клиенты из Латвии, так и иностранные, что еще раз подтверждает репутацию нашей компании.
					p Мы стремительно развивающаяся команда высококвалифицированных специалистов, имеющих многолетний опыт в решении юридических вопросов. «Utrust» предоставляет множество юридических услуг для бизнеса, ключевыми из которых являются:
	// end s-anniversary