mixin s-residence-adv()
	// start s-residence-adv
	+b.SECTION.s-residence-adv.section#s-residence-adv&attributes(attributes)
		.container
			h2 Преимущества получения ВНЖ в Латвии
			+e.subtitle ВНЖ в Латвии выдаётся сроком на один год, однако есть возможность получить сразу на пять лет, что существенно облегчает процедуру подтверждения статуса. Получив ID карту, иностранный гражданин имеет право: 
			+e.row.row
				mixin residance-i(i, t)
					+e.col.col-xl.col-md-4.col-sm-6
						+e.item
							+e.icon-wrap
								//- +icon(`res-i${i}`)
								+e.IMG.icon(class=`s-residence-adv__icon--${i}` src=`img/svg/res-i${i}.svg` alt='')
							+e.item-text=t
				+residance-i('1','Получить европейские (латвийские) водительские права уже через 183 дня в статусе ВНЖ ')
				+residance-i('2','Приобрести автомобиль и без проблем его эксплуатировать в зоне Европейского Союза.')
				+residance-i('3','Получить ВНЖ для несовершеннолетних детей и супруга/и.')
				+residance-i('4','Путешествовать по Шенгенской зоне без оформления визы.')
				+residance-i('5','Открыть личный банковский счет в местном банке.')
	// end s-residence-adv