mixin s-mission()
	// start s-mission
	+b.SECTION.s-mission.section#s-mission&attributes(attributes)
		.container
			+e.title-row.row
				+e.title-col.col-lg-auto
					h2 Наша миссия
				.col-lg
					+e.subtitle
						strong Мы помогаем развивать бизнес индустрию 
						| в мире, поддерживая инициативы, в которые верим.
			+e.text-wrap
				+e.text-block
					p Наша миссия заключается в предоставлении клиентам услуг, которые помогут им&nbsp;обеспечить более высокую эффективность путём снижения затрат, увеличения прибыли и предоставлении идеального контроля над управлением компании.
					p Мы знаем, с чего начать бизнес и как двигаться дальше, так как владеем только актуальной юридической информацией. Команда “UTrust”, помимо основных услуг, консультирует в вопросах местного и международного права, помогает в оформление документов и ведении переговоров, а также помогает в подборе персонала, если это необходимо.
				+e.text-block
					p Мы ориентируемся на совместную работу в&nbsp;команде и твердо стоим за своей работой и своими клиентами не только на протяжении выполняемых услуг, но и после их завершения.
					p Обеспечив выполнение услуг на высоком уровне, мы придаём уверенность клиентам и партнерам в правильности принятия решений.
					p Мы строим долгосрочные отношения в соответствии с изменяющимися тенденциями итребованиями клиента!
	// end s-mission