
// start .s-mission
.s-mission {
	@include media-breakpoint-up(md){
		padding: rem(70) 0;
	}
		
	&__title-row{
		align-items: center;
		max-width: rem(1050);
		@include roww(25);
		margin-bottom: rem(42);
	}

	&__title-col{
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg){
			margin-bottom: 0;
		}
	}

	h2{
		color: #2e2c33;
		font-family: $font-family-monospace;
		@include rfs(58);
		line-height: 1.11;
		letter-spacing: rem(2);
	}

	&__subtitle{
		font-size: rem(19);
		@include media-breakpoint-up(md){
			font-size: rem(21);
		}
		color: #2e2c33;
		line-height: 1.45;
		letter-spacing: rem(0.63);
		strong{
			@include media-breakpoint-up(md){
				display: block;
			}
			font-weight: 500;
		}
	}

	&__text-wrap{
		@include media-breakpoint-up(md){
			columns: 2;
			column-count: 2;
			column-gap: rem(90);
		}
		max-width: rem(1053);
		margin-left: auto;
		margin-right: rem(34);
	}
	
	&__text-block{
		page-break-inside: avoid;
		break-inside: avoid;
		// display: inline-block;
		p{
			font-size: rem(18);
			@include media-breakpoint-up(md){
				font-size: rem(20);
			}
			color: #2e2c33;
			letter-spacing:	rem(0.65);
			line-height: 1.5;
			margin-bottom: rem(13);
		}
		&:nth-child(2){
			p{
				line-height: 1.5;
			}
		}
	}



@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-mission