mixin s-docs()
	// start s-docs
	+b.s-docs.section#s-docs&attributes(attributes)
		.container
			+e.info-wrapper
				+e.info-block
					+icon('info')
					+e.info-text Отдельно стоит отметить, что срок рассмотрение заявления зависит от места выдачи документов и размера государственной пошлины.
				+e.block.bg-wrap
					img.bg-img(src='img/@2x/docs-bg.jpg' alt='')
					+e.text-wrapper
						+e.block-text Заявление на ВНЖ подается либо в консульство, либо в Управление по делам миграции в&nbsp;Латвии. Также этот процесс предполагает наличие следующих документов в наличие:
						+e.row.row
							.col-lg-5
								+e.UL.list
									+e.LI.list-item Фотографии
									+e.LI.list-item Заграничный паспорт
									+e.LI.list-item Паспорт и его фотокопии
									+e.LI.list-item Медицинская страховка
									+e.LI.list-item Справка из правоохранительных органов об отсутствии судимости
									+e.LI.list-item Заполненная анкета.
									+e.LI.list-item Оплата государственной пошлины.
							.col-lg-6
								+e.UL.list
									+e.LI.list-item Наличие средств на банковском счете или карте. Сумма должна быть не меньше прожиточного минимума
									+e.LI.list-item Место проживания (декларированный адрес) в Латвии.
									+e.LI.list-item Отсутствие серьезных заболеваний, в том числе туберкулеза.
									+e.LI.list-item Диплом по специальности (высшее или профессиональное специализированное образование) либо опыт работы в определенной должности не менее 3 лет.
	// end s-docs