mixin s-docs()
	// start s-docs
	+b.s-docs.section#s-docs&attributes(attributes)
		.container
			+e.info-wrapper
				+e.info-block
					+icon('info')
					+e.info-text Отдельно стоит отметить, что срок рассмотрение заявления зависит от места выдачи документов и размера государственной пошлины.
				+e.block.bg-wrap
					img.bg-img(src='img/@2x/docs-bg.jpg' alt='')
					+e.text-wrapper
						p Заявление на ВНЖ подается либо в консульство, либо в Управление по делам миграции в&nbsp;Латвии. Также этот процесс предполагает наличие следующих документов в наличие:
						+e.row.row
							.col-lg-5
								ul
									li Фотографии
									li Заграничный паспорт
									li Паспорт и его фотокопии
									li Медицинская страховка
									li Справка из правоохранительных органов об отсутствии судимости
									li Заполненная анкета.
									li Оплата государственной пошлины.
							.col-lg-6
								ul
									li Наличие средств на банковском счете или карте. Сумма должна быть не меньше прожиточного минимума
									li Место проживания (декларированный адрес) в Латвии.
									li Отсутствие серьезных заболеваний, в том числе туберкулеза.
									li Диплом по специальности (высшее или профессиональное специализированное образование) либо опыт работы в определенной должности не менее 3 лет.
	// end s-docs