mixin s-values()
	// start s-values
	+b.s-values.section#s-values&attributes(attributes)
		.side-wrapper
			.container
				+e.block.bg-wrap
					img.bg-img(src='img/@2x/values-bg.jpg' alt='')
					img.abs-img(src='img/@2x/values-img.png' alt='')
					+e.row.row
						.col-lg
							+e.title Ценности 
								span нашей команды
						.col-lg
							+e.text-block
								p Мы помогаем развивать бизнес индустрию в мире, поддерживая инициативы, в которые верим.
								p Наша миссия заключается в предоставлении клиентам услуг, которые помогут им обеспечить более высокую эффективность путём снижения затрат, увеличения прибыли и предоставлении идеального контроля над управлением компании
								p Мы знаем, с чего начать бизнес и как двигаться дальше, так как владеем только актуальной юридической информацией.
							+e.A.link(href='#') читать подробнее
	// end s-values