
// start .s-values
.s-values {
	@include media-breakpoint-up(md){
		padding: rem(50) 0 rem(126);
	}

	.side-wrapper{
		max-width: rem(1455);
		&::before{
			@include media-breakpoint-up(md){
				z-index: 3;
				content: 'ценности нашей компании';
				@include a-cent(y);
				right: rem(-165);
				transform-origin: center center;
				transform: rotate(-90deg);
				line-height: 1;
				color: #7f7f7f;
				text-transform: uppercase;
				letter-spacing: rem(0.53);
				font-size: rem(23);
			}
		}
	}

	&__block{
		padding: rem(30) rem(20) rem(40);
		@include media-breakpoint-up(md){
			padding: rem(50);
		}
		@include media-breakpoint-up(lg){
			padding: rem(60) rem(60) rem(150) rem(70);
		}
		@include media-breakpoint-up(xl){
			padding: rem(55) rem(80) rem(130) rem(70);
		}
		border-radius: rem(8);
		border: 1px solid #e8e8e8;
		background-color: #f1f1f1;
		z-index: 3;
		.bg-img{
			border-radius: rem(8);
			overflow: hidden;
			z-index: -2;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: right bottom;
		}
		.abs-img{
			display: none;
			@include media-breakpoint-up(lg){
				display: block;
				z-index: -1;
				position: absolute;
				bottom: rem(-250);
				right: 55%;
			}
		}
	}

	&__row{
		@include media-breakpoint-up(xl){
			@include roww(25);
		}
	}

	&__title{
		position: relative;
		font-family: $font-family-monospace;
		color: #2e2c33;
		@include rfs(60);
		letter-spacing: rem(0.55);
		line-height: 1.07;
		span{
			@include rfs(54);
			letter-spacing: rem(0.5);
			line-height: 1;
		}
		&::after{
			@include media-breakpoint-up(lg){
				content: '';
				position: absolute;
				bottom: rem(-80);
				right: rem(30);
				width: rem(161);
				height: rem(65);
				background-image: url(../img/@2x/values-line.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
		}
	}

	&__text-block{
		@include media-breakpoint-up(md){
			margin-bottom: rem(50);
		}
		padding-top: rem(21);
		p{
			margin-bottom: rem(20);
			color: #7b7b7b;
			line-height: 1.48;
			font-size: rem(20);
		}
	}

	&__link{
		font-family: $font-family-monospace;
		font-size: rem(21);
		color: #2e2c33;
		line-height: 1.17;
		letter-spacing: rem(0.63);
		text-transform: uppercase;
		display: inline;
		padding-bottom: rem(5);
		border-bottom: 1px dashed #2e2c33;
		&:hover{
			color: #2e2c33;
			text-decoration: none;
			opacity: .7;
		}
	}
		
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-values