// мобильное меню

// мобильное меню
$h: rem(3);

.main-page .toggle-menu-mobile{
	span,
	span:after,
	span:before {
		background-color: #fff;
	}
}

.toggle-menu-mobile {
	display: block;
	height: $h* 8;
	position: relative;
	cursor: pointer;


	span:after,
	span:before {
		content: "";
		position: absolute;
		left: 0;
	}
	span{
		@include a-cent(y);
	}
	span:before {

		
		top: $h * 3;
	}
	span:after {
		bottom: $h * 3;
	}

	span {
		position: relative;
		display: block;
	}

	span,
	span:after,
	span:before {
		// width: 32px;
		font-size: 32px;
		width: 1em;
		height: $h;
		background-color: #949494;
		transition: all 0.3s;
		backface-visibility: hidden;
		border-radius: 6px;
	}

	&.on {
		// opacity: 0;
	}

	&.on span {
		background-color: transparent;
	}

	&.on span:before {
		top: 0;
		bottom: 0;
		transform: rotate(45deg) ;
		transform-origin: 50% 50%;
	}

	&.on span:after {
		top: 0;
		bottom: 0;
		transform: rotate(-45deg) ;
		transform-origin: 50% 50%;
	}
}

.menu-mobile {
	position: fixed !important;
	z-index: 999;
	max-height: 100vh;
	overflow-y: auto;
	width: 100vw;
	top: 0;
	left: 0;
	transform: translate(0, -150%);
	@include mt(.6);
	will-change: transform;

	&__inner {
		background-color: #f7f7f7;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		height: 100%;
	}

	&.active {
		transform: translate(0, 0);

		.toggle-menu-mobile {
			opacity: 1;
		}
	}

	.toggle-menu-mobile {
		position: relative;
		cursor: pointer;
		opacity: 0;
		color: #FFF;
		z-index: 9999;
		background-color: transparent;

		span,
		span:after,
		span:before {
			background-color: #787878;
		}

		&.on {
			opacity: 1;

			span {
				background-color: transparent;
			}
		}
	}

	ul {
		// position: relative;
	}

	li {
		&:not(:last-child){
			margin-bottom: rem(20);
		}
		display: block;
		margin: 0;
		border-top: 1px solid rgba(255, 255, 255, .13);

		a {
			@include mt;
			// font-size: 16px;

			// padding: 10px;
			box-shadow:  inset 0 -0.2em 0 0 transparent;
			display: block;
			
			&:hover{
				
				text-decoration: none;
			}
		}
		&.menu-item.menu-item-has-children{
			position: relative;
			&::after{
				content: svg();
			}
		}
	}

	&__block{
		padding-bottom: rem(120);
		z-index: 1;
		position: relative;
		&::before{
			content: 'utrust';
			position: absolute;
			bottom: 0;
			left: rem(10);
			text-transform: uppercase;
			color: #ffffff;
			letter-spacing: rem(3.03);
			line-height: .9;
			font-size: rem(121);
			opacity: 0.96;
			font-family: $font-family-monospace;
			transform-origin: left bottom;
			transform: rotate(-90deg);
			height: auto;
		}
	}
	&__top-row{
		@include media-breakpoint-down(sm){
			justify-content: space-between;
		}
		@include roww(20);
		margin-bottom: rem(20);
		align-items: center;
	}

	&__logo-block{
		padding: rem(24) rem(12);
		margin-bottom: rem(10);
		@include media-breakpoint-up(md){
			padding: rem(28) rem(14);
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(lg){
			padding: rem(30) rem(20);
		}
		margin-top: rem(-4);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		position: relative;
		background-color: #ffffff;
		border-radius: rem(5);
		box-shadow: 0 rem(15) rem(22) rem(2) rgba(73, 71, 82, 0.04), 0 0 rem(27) rem(2) rgba(255, 255, 255, 0.32);
		&:before{
			content: '';
			z-index: -1;
			@include a-cent(x);
			bottom: rem(-5);
			@include media-breakpoint-up(md){
				bottom: rem(-10);
			}
			width: 93.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.51;
		}
		&::after{
			content: '';
			z-index: -2;
			@include a-cent(x);
			bottom: rem(-10);
			@include media-breakpoint-up(md){
				bottom: rem(-20);
			}
			width: 82.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.23;
		}
		img{
			@include media-breakpoint-down(sm){
				max-width: 70%;
			}
			z-index: 2;
		}
	}

	&__logo-border{
		@include a-cent;
		z-index: 1;
		width: calc(100% - 6px);
		height: calc(100% - 5px);
		border-radius: rem(5);
		border: 1px dashed #c7c7c6;
	}

	&__title{
		font-size: rem(15);
		color: #3b3b3b;
		line-height: 1.33;
		text-transform: uppercase;
		letter-spacing: rem(1.15);
		font-family: $font-family-monospace;
	}

	&__adress{
		@include media-breakpoint-down(sm){
			margin: rem(10) 0;
		}
		font-size: rem(18);
		color: #3b3b3b;
		line-height: 1.11;
		letter-spacing: rem(1.38);
		font-weight: 500;
		span{
			color: #a4a4a4;
		}
	}

	&__menu-row{
		justify-content: space-between;
		max-width: rem(1000);
		margin-left: auto;
	}

	&__ask-block{
		padding: rem(10) 0;
		margin-bottom: rem(7);
	}
	&__ask{
		color: #a4a4a4;
		font-weight: 500;
		font-size: rem(20);
		line-height: 1.14;
		letter-spacing: rem(0.73);
		margin-bottom: rem(10);
	}
	&__ask-link{
		color: #2e2c33;
		font-size: rem(24);
		line-height: 0.95;
		letter-spacing: rem(0.88);
		&:hover{
			color: #2e2c33;
			text-decoration: none;
			opacity: .7;
		}
	}

	.soc{
		margin-top: rem(12);
	}
}
