.main-page .top-nav{
	padding-bottom: 0;
	color: #fff;
	&__title{
		color: #ffffff;
	}
	&__subtitle{
		color: #acacac;
	}
	&__link{
		color: #ffffff;
		&:hover{
			color: #fff;
		}
	}
	&__icon-link{
		.icon{
			color: $primary;
		}
		color: $primary;
	}
}

.top-nav {
	padding-bottom: rem(8);
	z-index: 20;
	@include mt;

	&.fixed {
		width: 100vw;
		bottom: auto;
		margin-top: 0;
		background-color: #fff;
	}

	&__nav {
		text-align: center;
		list-style-type: none;
	}

	&__item {
		display: inline-block;
		list-style-type: none;
	}

	&__row{
		@include media-breakpoint-down(sm){
			justify-content: space-between;
		}
		align-items: center;
		@include media-breakpoint-up(lg){
			@include roww(20);
		}
	}

	&__logo-block{
		padding: rem(24) rem(12);
		margin-bottom: rem(10);
		@include media-breakpoint-up(md){
			padding: rem(28) rem(14);
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(lg){
			padding: rem(36) rem(16) rem(38);
		}
		margin-top: rem(-4);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		position: relative;
		background-color: #ffffff;
		border-radius: rem(5);
		box-shadow: 0 rem(15) rem(22) rem(2) rgba(73, 71, 82, 0.04), 0 0 rem(27) rem(2) rgba(255, 255, 255, 0.32);
		&:before{
			content: '';
			z-index: -1;
			@include a-cent(x);
			bottom: rem(-5);
			@include media-breakpoint-up(md){
				bottom: rem(-10);
			}
			width: 93.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.51;
		}
		&::after{
			content: '';
			z-index: -2;
			@include a-cent(x);
			bottom: rem(-10);
			@include media-breakpoint-up(md){
				bottom: rem(-20);
			}
			width: 82.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.23;
		}
		img{
			@include media-breakpoint-down(sm){
				max-width: 70%;
			}
			z-index: 2;
		}
	}

	&__logo-border{
		@include a-cent;
		z-index: 1;
		width: calc(100% - 6px);
		height: calc(100% - 5px);
		border-radius: rem(5);
		border: 1px dashed #c7c7c6;
	}

	&__title{
		color: #2e2c33;
		text-transform: uppercase;
		letter-spacing: 1.08px;
		line-height: 1.37;
		font-size: rem(14);
		font-family: $font-family-monospace;
		margin-bottom: rem(10);
	}

	&__subtitle{
		letter-spacing: 0.75px;
		line-height: 1.31;
		font-size: rem(16);
		color: #acacac;
	}

	&__ask{
		font-size: rem(16);
		@include media-breakpoint-up(lg){
			font-size: rem(19);
		}
		letter-spacing: 0.73px;
		line-height: 1.16;
		font-weight: 500;
		color: #a4a4a4;
		margin-bottom: rem(10);
	}

	&__link{
		font-size: rem(20);
		@include media-breakpoint-up(lg){
			font-size: rem(23);
		}
		display: block;
		color: #2e2c33;
		letter-spacing: 0.88px;
		line-height: 0.96;
		&:hover{
			color: #2e2c33;
			text-decoration: none;
			opacity: .7;
		}
	}

	&__icon-row{
		align-items: center;
		@include media-breakpoint-down(xs){
			@include roww(10);
		}
	}

	&__icon-link{
		color: #a4a4a4;
		.icon-phone{
			color: #a4a4a4;
			font-size: rem(26);
		}
		.icon-mail{
			color: #a4a4a4;
			font-size: rem(30);
		}
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
