
mixin mob-mnu()
	
	+b.menu-mobile--js
		+e.inner
			.container
				+e.block
					+e.top-row.row
						.col-auto
							+e.A.logo-block(href='/')
								+e.logo-border
								img.res-i(src='img/@2x/logo-menu.png' alt='')
						.col-4.d-none.d-lg-block
							+e.title Комплксное юридическое и&nbsp;бухгалтерское сопровождение
						.col.d-none.d-md-block
							+e.adress
								span Адрес: 
								| ул. Дзирнаву 37-15, Рига, Латвия
						.col-auto
							+b.toggle-menu-mobile--js
								span
					+e.menu-row.row
						.col-lg
							+mnu()
						.col-lg-auto
							+e.adress.d-md-none
								span Адрес: 
								| ул. Дзирнаву 37-15, Рига, Латвия
							+e.ask-block
								+e.ask Напишите вопрос юристу:
								+e.A.ask-link(href='mailto:info@utrust.lv') info@utrust.lv
							+e.ask-block
								+e.ask Задайте вопрос юристу:
								+e.A.ask-link(href='tel:+37120340720') + 371 2034 0720
							+soc()
		
			//- +mnu()
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			+e.row.row
				.col-auto
					+e.A.logo-block(href='/')
						+e.logo-border
						img.res-i(src='img/@2x/logo.png' alt='')
				.col.d-none.d-xl-block
					+e.title Комплексное юридическое и&nbsp;бухгалтерское сопровождение
					+e.subtitle Удаленно решим юридические и&nbsp;бухгалтерские вопросы
				
				.col-xl-auto.col.d-none.d-md-block
					+e.ask Напишите вопрос юристу:
					+e.A.link(href='mailto:info@utrust.lv') info@utrust.lv
				.col-xl-auto.col.d-none.d-md-block
					+e.ask Задайте вопрос юристу:
					+e.A.link(href='tel:+37120340720') + 371 2034 0720
				.col-auto
					+e.icon-row.row
						.col-auto.d-md-none
							+e.A.icon-link(href='mailto:info@utrust.lv')
								+icon('mail')
						.col-auto.d-md-none
							+e.A.icon-link(href='tel:+37120340720')
								+icon('phone')
						.col-auto
							+b.toggle-menu-mobile--js
								span
	// end top-nav