.s-contact {
	padding: 0 0 rem(40);
	@include media-breakpoint-up(md){
		padding: 0;
	}
	z-index: 4;
	position: relative;
	.side-wrapper{
		z-index: 5;
		max-width: rem(1485);
		&::before{
			@include media-breakpoint-up(md){
				z-index: 3;
				content: 'Контакты';
				@include a-cent(y);
				left: rem(-48);
				transform-origin: center center;
				transform: rotate(-90deg);
				line-height: 1;
				color: #fff;
				text-transform: uppercase;
				letter-spacing: 0.53px;
				font-size: rem(23);
			}
		}
	}

	&__bg-wrapper{
		z-index: -3;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__layer{
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__video{
		z-index: 1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__row{
		@include roww(18)
	}

	&__logo-col{
		align-self: flex-start;
	}

	&__logo-block{
		max-width: rem(128);
		padding: rem(24) rem(12);
		margin-bottom: rem(10);
		@include media-breakpoint-up(md){
			padding: rem(28) rem(14);
			margin-bottom: rem(20);
		}
		@include media-breakpoint-up(lg){
			padding: rem(27) rem(20);
		}
		margin-top: rem(-4);
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;
		position: relative;
		background-color: #ffffff;
		border-radius: rem(5);
		box-shadow: 0 rem(15) rem(22) rem(2) rgba(73, 71, 82, 0.04), 0 0 rem(27) rem(2) rgba(255, 255, 255, 0.32);
		&:before{
			content: '';
			z-index: -1;
			@include a-cent(x);
			bottom: rem(-5);
			@include media-breakpoint-up(md){
				bottom: rem(-10);
			}
			width: 93.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.51;
		}
		&::after{
			content: '';
			z-index: -2;
			@include a-cent(x);
			bottom: rem(-10);
			@include media-breakpoint-up(md){
				bottom: rem(-20);
			}
			width: 82.5%;
			height: 100%;
			border-radius: rem(5);
			background-color: #ffffff;
			opacity: 0.23;
		}
		img{
			@include media-breakpoint-down(sm){
				max-width: 70%;
			}
			z-index: 2;
		}
	}

	&__map-col{
		padding-top: rem(40);
		padding-bottom: rem(30);
		@include media-breakpoint-up(md){
			padding-top: rem(50);
			padding-bottom: rem(60);
		}
		@include media-breakpoint-up(lg){
			padding-top: rem(100);
			padding-bottom: rem(85);
		}
	}

	&__map-wrap{
		border-radius: rem(10);
		overflow: hidden;
		background-color: #bababa;
		@include block(711 , 560);
		@include media-breakpoint-up(md){
			@include block(711 , 360);
		}
		position: relative;
		iframe{
			border: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}

	&__contact-col{
		align-self: center;
	}

	&__ask-block{
		text-align: center;
		margin-bottom: rem(30);
		.icon{
			font-size: rem(16);
			color: $primary;
		}
	}

	&__ask{
		color: #ffffff;
		font-size: rem(16);
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 0.6px;
	}

	&__link{
		color: #ffffff;
		font-size: rem(24);
		letter-spacing: 0.88px;
		&:hover{
			color: #fff;
			text-decoration: none;
			opacity: .7;
		}
	}

	&__btn{
		display: block;
		margin: 0 auto;
		width: rem(209);
		padding-top: rem(16);
		padding-bottom: rem(16);
	}


	//
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

}