mixin s-description()
	// start s-description
	+b.s-description.section#s-description&attributes(attributes)
		.container
			+e.text-wrapper
				p 
					span Латвия остаётся одной из самых привлекательных стран позволяющих интегрироваться 
					| в европейское пространство жителям многих государств. Переезд в Латвию означает открыть новые горизонты для поиска новых возможностей, перспектив в бизнесе и многое другое.<br>Для тех, кто планирует обосноваться в Латвии надолго или навсегда, адаптация пройдет достаточно легко, чем при эмиграции в другие страны Европы, так как местные жители Латвии очень лояльны и хорошо владеют как русским, так и английским языком.
				p Это лишь малая часть того, что помогает утвердиться, почему Латвия уже многие годы является одной из самых привлекательных и перспективных стран для получения временного вида для жительства в Европейском союзе. И это утверждение не безосновательно, ведь страна предлагает иностранным гражданам получение вида на жительство при выполнении не трудных условий.  
	// end s-description