
// start .s-description
.s-description {
	@include media-breakpoint-up(md){
		padding: rem(90) 0 rem(50);
	}

	&__text-wrapper{
		z-index: 2;
		position: relative;
		max-width: rem(1005);
		margin: 0 auto;
		@include media-breakpoint-up(md){
			columns: 2;
			column-gap: rem(40);
		}
		@include media-breakpoint-up(lg){
			column-gap: rem(105);
		}
		&::after{
			z-index: -1;
			content: 'utrast';
			@include a-cent(x);
			bottom: 0;
			text-transform: uppercase;
			color: #cbcbcb;
			opacity: 0.1;
			letter-spacing: 4.06px;
			line-height: 0.85;
			font-family: $font-family-monospace;
			@include rfs(428);
		}
		p{
			font-size: rem(18);
			@include media-breakpoint-up(sm){
				font-size: rem(20);
			}
			@include media-breakpoint-up(md){
				margin: 0;
			}
			color: #2e2c33;
			page-break-inside: avoid;
			break-inside: avoid;
			line-height: 1.5;
			letter-spacing: 0.75px;
			span{
				font-weight: 500;
			}
		}
	}
		
@include media-breakpoint-up(xl) {}
@include media-breakpoint-up(lg) {}
@include media-breakpoint-up(md) {}
@include media-breakpoint-up(sm) {}
@include media-breakpoint-up(xs) {}

//
@include media-breakpoint-between(md, xl) { }


//
@include media-breakpoint-only(xs) {}
@include media-breakpoint-only(sm) {}
@include media-breakpoint-only(md) {}
@include media-breakpoint-only(lg) {}
@include media-breakpoint-only(xl) {}

//
@include media-breakpoint-down(xl) {}
@include media-breakpoint-down(lg) {}
@include media-breakpoint-down(md) {}
@include media-breakpoint-down(sm) {}
@include media-breakpoint-down(xs) {} 

} // end.s-description